body {
    background-color: rgb(0, 0, 0);
}

h1 {
    margin: auto;
    width: 500px;
    margin-top: 5px;
    text-align: center;
    font-size: 70px;
    color: gold;
}
/* use grid to acheive the layout */

#calculator {
    height: 500px;
    width: 400px;
    box-shadow: grey 0px 0px 0px 5px;
    margin: auto;
    border-radius: 10px;
    margin-top: 30px;
    padding: 40px;
    background-color: white;
    background-color: #12d9df;

}

#input {
    overflow: hidden;
    width: 90%;
    height: 80px;
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    margin: auto;
    color:black;
    border-radius: 10px;
    background-color: white;
    box-shadow: grey 0px 0px 0px 5px;
}

#keyboard {
    margin-top: 50px;
    width: 80%;
    display: grid;
    margin: auto;
    margin-top: 30px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 70px);
    gap: 10px;
}

#keyboard>div {
    font-weight: bolder;
    font-size: 25px;
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: white;
    border: 1px solid grey;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

#keyboard>div:hover {
    background-color: #4255a4;
    color: white;
    cursor: pointer;
}

#keyboard>.black {
    background-color: black;
    color: white
}


#keyboard>.green{
    border-radius: 25px;
    background-color: green;
    color: white;
    margin-top: 10px;
    grid-area: 5/3/6/5;
}

#keyboard>.red{
    border-radius: 25px;
    background-color: red;
    color: white;
    margin-top: 10px;
    grid-area: 5/1/6/3;
}
